{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static "stark/bootstrap/css/bootstrap.css" %}"/>

    <style>
        body{margin-top: 50px}
        .pager a {
            display: inline-block;
            padding: 2px 8px;
            margin: 0 5px;
            border: 1px solid cadetblue;
        }

        .pager .active {
            background-color: #369;
            color: white;
        }
    </style>
</head>
<body>
<div class="container">
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>主机名</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {% for obj in host_list %}
            <tr>
                <td>{{ obj }} </td>
                <td><a href="/edit/54/?{{ list_condition }}">编辑</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="pager">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li>{{ page_html|safe }}</li>
            </ul>
        </nav>
    </div>
</div>

</body>
</html>